@import "leaflet/dist/leaflet.css";

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#map {
    height: 100vh; 
}

#map-selector {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}