@import "leaflet/dist/leaflet.css";

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#map {
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: fill-available;
}

#map-selector {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.location {
    background: white;
    padding: 4px 4px 4px 4px;
    svg {
        display: block;
        margin: 0px;
        fill: gray;
    }

    &.selected svg {
      fill: blue;
    }
}